* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Poppins;
    src: url(../public/fonts/Poppins.ttf);
}

.scrapingLogsDiv {
    height: 50vh;
    width: 70vw;
    border: 1px solid black;
    margin-left: 15vw;
    overflow-y: scroll;
}

.scrapingButtonsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    gap: 2vw;
}

.scrapingButton {
    height: 5vh;
    padding: 1vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    border: 1px solid orangered;
    border-radius: 0.6vh;
}

.scrapingButton:hover {
    cursor: pointer;
    background-color: rgb(188, 188, 188);
}

.clearDataBaseBtn {
    position: absolute;
    left: 2vw;
    top: 5vh;
    background-color: red;
    color: white;
    height: 5vh;
    padding: 1vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    border-radius: 0.6vh;
}

.clearDataBaseBtn:hover {
    cursor:pointer;
}

.mainHomepageDiv {

    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.homepageLogo {
    height: 13vh;
    text-align: center;
}

.headerLocationIcon {
    height: 4vh;
    background-color: #00544016;
    border-radius: 8vh;
    padding: 1vh;
}

.headerLocationIcon:hover {
    cursor: pointer;
    background-color: #00544059;
}

.headerFirstDiv {

    width: 25vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    height: 13vh;
}

.headerSecondDiv {

    width: 25vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    height: 13vh;
}

.headerLogInBtn {
    height: 5vh;
    font-family: Poppins;
    font-size: 1.3rem;
    outline: none;
    border: none;
    background-color: transparent;
}

.headerSignUpBtn {
    height: 5vh;
    font-family: Poppins;
    font-size: 1.3rem;
    border: none;
    color: #005440;
    padding: 1vh;
    border-radius: 1vh;
    background-color: #00544016;
}

.headerSignUpBtn:hover {
    cursor: pointer;
    background-color: #00544059;
}

.homepageHeaderDiv {
    width: 100%;
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50vw;
}

.homepageDisplayDiv {
    width: 100%;
    height: 87vh;
    background-image: url(../public/images/backgroundImg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}















.selectPageDiv {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.adminImg {
    width: 3vw;
}

.userImg {
    width: 3vw;
}

.roleDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    display: none;
}

.roleHref {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    font-size: 2rem;
    text-decoration: none;
    background-color: antiquewhite;
    padding: 1vh;
    border-radius: 1vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.roleHref:hover {
    cursor: pointer;
    background-color: rgb(249, 229, 202);
}


.addToListBtn {
    margin-top: 3vh;
    padding: 0.5vh;
    width: 5vw;
}

.addToListBtn:hover {
    cursor: pointer;
}

.searchSectionMainDiv {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchSection {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;

}

.searchResultsDiv {
    margin-top: 10vh;
    width: 70vw;
    height: 75vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
     gap: 2vw;
     justify-content: center;
     
}

.productCardDiv {
    background-color: beige;
    border-radius: 1vh;
    width: 14vw;
    height: 43vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
}

.productName {
    font-size: 1rem;
    text-align: center;
    height: 5vh;
    overflow: hidden;
    margin-top: 1vh;
}

.itemNameInput{
    height: 5vh;
    width: 15vw;
    border-radius: 0.4vh;
    outline: none;
}

.searchItemBtn {
    width: 5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.productImage {
    height: 15vh;
}

.productQuantityDiv {
    display: flex;
    flex-direction: row;
    height: 3vh;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    margin-top: 2vh;

}

.changeQuantityBtn {
    border-radius: 2vh;
    height: 4vh;
    width: 4vh;
    background-color: rgb(220, 220, 220);
    border: 1px solid rgb(184, 184, 184);
}

.changeQuantityBtn:hover {
    cursor: pointer;
    background-color: rgb(154, 154, 154);
}

.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}



.storeLogoImg {
    height: 2vh;
    object-fit: contain;
    width: auto;
}

.storeLogosDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.2vw;
    margin-top: 1.5vh;
}

.priceParagraph {
    margin-top: 4vh;
}

.listIconDiv {
    position: absolute;
    right: 4vw;
    top: 5vh;
    display: flex;
    flex-direction: row;
}

.listIconBtn {
    background-color: aqua;
    border-radius: 5vh;
    padding: 2vh;
    border: none;
}

.listIconBtn:hover {
    cursor: pointer;
}

.shoppingCartImg {
    height: 4vh;
}

.productListNumber {
    position: absolute;
    right: -0.8vh;
    top: 5vh;
    background-color: red;
    color: white;
    font-size: 1.3rem;
    min-width: 1.5vw;
    text-align: center;
    border: 1px solid white;
}

.shoppingListDivBack {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.451);
    display: flex;
    justify-content: center;
    align-items: center;

}

.itemListHeader {
    margin-top: 2vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mainShoppingListDiv {
    border: 1px solid white;
    height: 80vh;
    background-color: white;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34vw;
    position: relative;
}

.shoppingListSection {
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 90%;
    margin-top: 4vh;
    overflow-y: scroll;
    gap: 2vh;
}

.shoppingListItem {
    height: 16vh;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(197, 197, 197);
}

.shoppingListItemImage {
    height: 12vh;
}

.shoppingListItemDetailsDiv {
    display: flex;
    flex-direction: column;
    margin-left: 0.5vw;

    padding-bottom: 1vh;
    gap: 0.5vh;
}

.shoppingListItemBrand {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
}

.shoppingListItemName {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 11vw;
    font-size: 0.91rem;
}

.shoppingListItemQuantityDiv {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    margin-left: 1.2vw;
}

.shoppingListItemQuantityBtn {
    width: 1.8vw;
    height: 1.8vw;
    border-radius: 4vh;
    background-color: rgb(220, 220, 220);
    border: 1px solid rgb(184, 184, 184);
}

.shoppingListItemQuantityBtn:hover {
    cursor: pointer;
    background-color: rgb(154, 154, 154);
}

.disabled:hover {
    cursor: not-allowed;
    background-color: rgb(220, 220, 220);
}

.shoppingListItemDeleteIcon {
    height: 2.7vh;
}
.shoppingListItemDeleteBtn {
    background-color: transparent;
    border: none;
    margin-left: 2.4vw;
    padding: 0.5vh;
}

.shoppingListItemDeleteBtn:hover {
    cursor: pointer;
    background-color: rgb(216, 216, 216);
}

.shoppingListExitBtn {
    position: absolute;
    right: 1vw;
    top: 1vw;
    width: 2vw;
    height: 2vw;
}

.shoppingListExitBtn:hover {
    cursor: pointer;
}