* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Poppins;
    src: url(../public/fonts/Poppins.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../public/fonts/Inter.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../public/fonts/Montserrat.ttf);
}

@font-face {
    font-family: Radley;
    src: url(../public/fonts/Radley.ttf);
}

.scrapingLogsDiv {
    height: 50vh;
    width: 70vw;
    border: 1px solid black;
    margin-left: 15vw;
    overflow-y: scroll;
}

.scrapingButtonsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    gap: 2vw;
}

.scrapingButton {
    height: 5vh;
    padding: 1vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    border: 1px solid orangered;
    border-radius: 0.6vh;
}

.scrapingButton:hover {
    cursor: pointer;
    background-color: rgb(188, 188, 188);
}

.clearDataBaseBtn {
    position: absolute;
    left: 2vw;
    top: 5vh;
    background-color: red;
    color: white;
    height: 5vh;
    padding: 1vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    border-radius: 0.6vh;
}

.clearDataBaseBtn:hover {
    cursor:pointer;
}

.mainHomepageDiv {

    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.homepageLogo {
    height: 13vh;
    text-align: center;
}

.headerLocationIcon {
    height: 4vh;
    background-color: #00544016;
    border-radius: 8vh;
    padding: 1vh;
}

.headerLocationIcon:hover {
    cursor: pointer;
    background-color: #00544059;
}

.headerFirstDiv {

    width: 25vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    height: 13vh;
}

.headerSecondDiv {

    width: 25vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    height: 13vh;
}

.headerLogInBtn {
    height: 5vh;
    font-family: Poppins;
    font-size: 1.3rem;
    outline: none;
    border: none;
    background-color: transparent;
}

.headerSignUpBtn {
    height: 5vh;
    font-family: Poppins;
    font-size: 1.3rem;
    border: none;
    color: #005440;
    padding: 1vh;
    border-radius: 1vh;
    background-color: #00544016;
}

.headerSignUpBtn:hover {
    cursor: pointer;
    background-color: #00544059;
}

.homepageHeaderDiv {
    width: 100%;
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50vw;
}

.categoryHeaderDiv {
        width: 100%;
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8vw;

}

.homepageDisplayDiv {
    width: 100%;
    height: 87vh;
    background-image: url(../public/images/backgroundImg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15vh;
}

.categoriesListDiv
{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}
.categoryDiv {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border-radius: 5vh;
    border: 1px solid rgba(255, 255, 255, 0.229);
    padding: 0;
}

.categoryDiv:hover {
    cursor: pointer;
    background-color:  #005440;
    border: 1px solid #ffc107;
}

.blobImg {
    height: 18vh;
    position: relative;
}

.blobIcon {
    height: 9vh;
    position: absolute;
    left: 4.3vw;
    top: 3.9vh;
}

.categoryName {
    font-family: Poppins;
    background-color: #FFFF;
    border-radius: 0.5vh;
    font-size: 1rem;
    padding: 0.7vh;
    border: 2px solid #CCEBDD;
    margin-top: -3vh;
    z-index: 10;
}

.searchBarMainDiv {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    position: relative;
}

.searchInput {
    width: 22vw;
    height: 6vh;
    border-radius: 2vh;
    outline: none;
    border: none;
    padding: 10px 15px 10px 40px;
    font-size: 1.5rem;
}

.searchInput::placeholder {
  color: #7da897;
}

.searchIcon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #005440;
  font-size: 1.8rem;
}

.searchBtn {
    width: 7vw;
    font-family: Radley;
    letter-spacing: 0.07rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: #005440;
    height: 6vh;
    border-radius: 2vh;
    border: none;
    background-color: aliceblue;
}

.headerSearchInputDiv {
    gap: 2vw;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
}

.headerSearchInput {

    width: 22vw;
    height: 4vh;
    border-radius: 3vh;
    outline: none;
    border: 1px solid rgba(60, 59, 59, 0.488);
    padding: 10px 15px 10px 40px;
    font-size: 1.5rem;
    background-color: rgba(128, 128, 128, 0.029);
    font-family: Radley;
}

.headerSearchInput::placeholder {
    color: #7da897;
}

.headerSearchInputBtn {

    width: 7vw;
    font-family: Radley;
    letter-spacing: 0.07rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
    height: 6vh;
    border-radius: 2vh;
    border: none;
    background-color: #005440;
}

.headerSearchInputBtn:hover 
{
    cursor: pointer;
    background-color: #003d2f;

}














.selectPageDiv {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.adminImg {
    width: 3vw;
}

.userImg {
    width: 3vw;
}

.roleDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    display: none;
}

.roleHref {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    font-size: 2rem;
    text-decoration: none;
    background-color: antiquewhite;
    padding: 1vh;
    border-radius: 1vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.roleHref:hover {
    cursor: pointer;
    background-color: rgb(249, 229, 202);
}


.addToListBtn {
    margin-top: 3vh;
    padding: 0.5vh;
    width: 5vw;
}

.addToListBtn:hover {
    cursor: pointer;
}

.searchSectionMainDiv {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchSection {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;

}

.searchResultsDiv {
    margin-top: 10vh;
    width: 70vw;
    height: 75vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
     gap: 2vw;
     justify-content: center;
     
}

.productCardDiv {
    background-color: beige;
    border-radius: 1vh;
    width: 14vw;
    height: 43vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
}

.productName {
    font-size: 1rem;
    text-align: center;
    height: 5vh;
    overflow: hidden;
    margin-top: 1vh;
}

.itemNameInput{
    height: 5vh;
    width: 15vw;
    border-radius: 0.4vh;
    outline: none;
}

.searchItemBtn {
    width: 5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.productImage {
    height: 15vh;
}

.productQuantityDiv {
    display: flex;
    flex-direction: row;
    height: 3vh;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    margin-top: 2vh;

}

.changeQuantityBtn {
    border-radius: 2vh;
    height: 4vh;
    width: 4vh;
    background-color: rgb(220, 220, 220);
    border: 1px solid rgb(184, 184, 184);
}

.changeQuantityBtn:hover {
    cursor: pointer;
    background-color: rgb(154, 154, 154);
}

.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}



.storeLogoImg {
    height: 2vh;
    object-fit: contain;
    width: auto;
}

.storeLogosDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.2vw;
    margin-top: 1.5vh;
}

.priceParagraph {
    margin-top: 4vh;
}

.listIconDiv {
    position: absolute;
    right: 4vw;
    top: 5vh;
    display: flex;
    flex-direction: row;
}

.listIconBtn {
    background-color: aqua;
    border-radius: 5vh;
    padding: 2vh;
    border: none;
}

.listIconBtn:hover {
    cursor: pointer;
}

.shoppingCartImg {
    height: 4vh;
}

.productListNumber {
    position: absolute;
    right: -0.8vh;
    top: 5vh;
    background-color: red;
    color: white;
    font-size: 1.3rem;
    min-width: 1.5vw;
    text-align: center;
    border: 1px solid white;
}

.shoppingListDivBack {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.451);
    display: flex;
    justify-content: center;
    align-items: center;

}

.itemListHeader {
    margin-top: 2vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mainShoppingListDiv {
    border: 1px solid white;
    height: 80vh;
    background-color: white;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34vw;
    position: relative;
}

.shoppingListSection {
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 90%;
    margin-top: 4vh;
    overflow-y: scroll;
    gap: 2vh;
}

.shoppingListItem {
    height: 16vh;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(197, 197, 197);
}

.shoppingListItemImage {
    height: 12vh;
}

.shoppingListItemDetailsDiv {
    display: flex;
    flex-direction: column;
    margin-left: 0.5vw;

    padding-bottom: 1vh;
    gap: 0.5vh;
}

.shoppingListItemBrand {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
}

.shoppingListItemName {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 11vw;
    font-size: 0.91rem;
}

.shoppingListItemQuantityDiv {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    margin-left: 1.2vw;
}

.shoppingListItemQuantityBtn {
    width: 1.8vw;
    height: 1.8vw;
    border-radius: 4vh;
    background-color: rgb(220, 220, 220);
    border: 1px solid rgb(184, 184, 184);
}

.shoppingListItemQuantityBtn:hover {
    cursor: pointer;
    background-color: rgb(154, 154, 154);
}

.disabled:hover {
    cursor: not-allowed;
    background-color: rgb(220, 220, 220);
}

.shoppingListItemDeleteIcon {
    height: 2.7vh;
}
.shoppingListItemDeleteBtn {
    background-color: transparent;
    border: none;
    margin-left: 2.4vw;
    padding: 0.5vh;
}

.shoppingListItemDeleteBtn:hover {
    cursor: pointer;
    background-color: rgb(216, 216, 216);
}

.shoppingListExitBtn {
    position: absolute;
    right: 1vw;
    top: 1vw;
    width: 2vw;
    height: 2vw;
}

.shoppingListExitBtn:hover {
    cursor: pointer;
}

/* Shopping Strategy Section */
.shoppingStrategySection {
  margin-top: 3vh;
  padding: 2vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  border-top: 2px solid #e0e0e0;
}

.strategyHeader {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3rem;
  color: #005440;
  font-weight: 600;
  margin-bottom: 1vh;
}

.strategyOptionsDiv {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  justify-content: center;
  align-items: center;
}

.strategyOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vh;
  padding: 1.5vh 2vw;
  border: 2px solid #e0e0e0;
  border-radius: 1vh;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: white;
}

.strategyOption:hover {
  border-color: #005440;
  background-color: #f0f8f5;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 84, 64, 0.1);
}

.strategyCheckbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: #005440;
}

.strategyLabelContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vh;
}

.strategyIcon {
  font-size: 2rem;
}

.strategyText {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #333;
}

.startShoppingBtn {
  margin-top: 1vh;
  padding: 1.5vh 4vw;
  background-color: #005440;
  color: white;
  border: none;
  border-radius: 2vh;
  font-family: Radley;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 0.05rem;
}

.startShoppingBtn:hover {
  background-color: #003d2f;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 84, 64, 0.3);
}

.startShoppingBtn:active {
  transform: scale(0.98);
}